<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="owl_todo_list_root_menu"
        name="Todo List" />

    <menuitem
        id="owl_todo_list_sub_root_menu"
        name="Operations"
        parent="owl_todo_list_root_menu" />

    <menuitem
        id="owl_todo_list_menu"
        name="Todo List"
        action="owl_todo_list_action"
        parent="owl_todo_list_sub_root_menu" />
    
    <menuitem
        id="model_name_menu_js"
        name="Todo List OWL"
        action="action_owl_todo_list_js"
        parent="owl_todo_list_root_menu"
        sequence="10"/>

</odoo>